.btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 7px 10px 7px 10px;
    border-radius: 14px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: $blue;
    width: 100%;

    &:disabled {
        background-color: lighten($color: $blue, $amount: 20);
    }
}

.btn-secondary {
    background-color: $light_blue;
    color: $blue;
    width: 100%;
}

.btn-rounded {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 26px;
    background: $blue;
    border: none;
    color: white;
}