.main__screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 20px ;
    text-align: center;
}

.main__table {
    margin-top: 50px;

    & td {
        border-top: 1px solid silver;
        width: 30vw;
    }

    & img {
        width: 100px;
    }
}